text=auto eol=lf

# Windows files
*.bat eol=crlf
*.cmd eol=crlf
*.sln eol=crlf

*.3gpp binary
*.3gp binary
*.7z binary
*.ai binary
*.as binary
*.asf binary
*.asx binary
*.avi binary
*.bmp binary
*.class binary
*.dll binary
*.ear binary
*.eps binary
*.eot binary
*.exe binary
*.fla binary
*.flv binary
*.gif binary
*.gifv binary
*.gz binary
*.ico binary
*.jar binary
*.jks binary
*.jng binary
*.jp2 binary
*.jpg binary
*.jpeg binary
*.jpx binary
*.jxr binary
*.kar binary
*.m4a binary
*.mid binary
*.midi binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.ogg binary
*.otf binary
*.pdf binary
*.png binary
*.psb binary
*.psd binary
*.ra binary
*.rar binary
*.so binary
*.svgz binary
*.swc binary
*.swf binary
*.tar binary
*.tif binary
*.tiff binary
*.ttf binary
*.war binary
*.webm binary
*.webp binary
*.woff binary
*.woff2 binary
*.zip binary
